@CHARSET "UTF-8";

html {
	height: 100%;
	width: 100%;
	background: linear-gradient(#55AA55, #2D882D);
}

body {
	white-space: nowrap;
	font-family: Helvetica;
	text-align: center;
	height: auto;
	width: auto;
}

table {
	background-color: #84CA84;
	margin-left: auto;
	margin-right: auto;
}

th#school {
	text-align: center;
}

td {
	text-align: center;
}

a#logout {
	float: right;
	background-color: #D1D36A;
	padding: 5px;
	border-radius: 5px;
}

a#logoutUH {
	background-color: #D1D36A;
	padding: 5px;
	border-radius: 5px;
}

a#logoutAH {
	background-color: #D1D36A;
	padding: 5px;
	border-radius: 5px;
}

a#logoutMS {
	background-color: #D1D36A;
	padding: 5px;
	border-radius: 5px;
}

a#goback {
	float: left;
	background-color: #D1D36A;
	padding: 5px;
	border-radius: 5px;
}

a#gobackMS {
	background-color: #D1D36A;
	padding: 5px;
	border-radius: 5px;
}

p#registerPrompt {
	background-color: #D1D36A;
	padding: 10px;
	border-radius: 10px;
}

input {
	color: #050;
	background-color: #fed;
	border: 1px;
}

input.actionButton {
	border-style: solid;
	border-color: gray;
}

input.newUser {
	background-color: white;
}

div#ManSavSchItems {
	background-color: #D1D36A;
	width: 400px;
	padding: 25px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
}

div#SeaSchMenuItems {
	background-color: #D1D36A;
	width: 1000px;
	padding: 25px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
}

div#UserHomeItems {
	background-color: #D1D36A;
	width: 225px;
	padding: 25px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
}

div#ManProItems {
	background-color: #D1D36A;
	width: 300px;
	padding: 25px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
}

div#AdmMenItems {
	background-color: #D1D36A;
	width: 300px;
	padding: 25px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
}

div#ManUseItems {
	background-color: #D1D36A;
	width: 700px;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
}

div#ManSchItems {
	background-color: #D1D36A;
	width: 2000px;
	padding: 25px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
}

div#LogItems {
	background-color: #D1D36A;
	width: 400px;
	padding: 25px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
}

div#regItems {
	background-color: #D1D36A;
	width: 400px;
	padding: 25px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
}

div#ManProItems {
	background-color: #D1D36A;
	width: 400px;
	padding: 25px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
}

div#HelpSearch {
	background-color: #D1D36A;
	width: 400px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
}

div#IndexItems {
	background-color: #D1D36A;
	width: 400px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
}

div#VieSchItems {
	background-color: #D1D36A;
	width: 600px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
}

div#SeaResItems {
	background-color: #D1D36A;
	width: 600px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
}

div#AdmVieSchItems {
	background-color: #D1D36A;
	width: 600px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
}

div#AdmSeaResItems {
	background-color: #D1D36A;
	width: 800px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
}

div#pagewrap {
	margin: 15px auto;
	position: relative;
}

div#sidebar {
	background-color: #D1D36A;
	padding: 10px;
	border-radius: 25px;
	width: 175px;
	position: fixed;
	margin-left: -225px;
}

div#sidebarMU {
	background-color: #D1D36A;
	padding: 10px;
	border-radius: 25px;
	width: 125px;
	position: fixed;
	margin-left: -225px;
}