@CHARSET "UTF-8";

body {
	font-family: Helvetica;
	background-color: #55AA55;
	text-align: center;
}

table#ManSavSch {
	margin-left: auto;
	margin-right: auto;
}

th#school {
	text-align: center;
}

a#logout {
	float: right;
}