@CHARSET "UTF-8";

html {
	height: 100%;
	width: 100%;
	background: linear-gradient(#55AA55, #2D882D);
}

body {
	white-space: nowrap;
	font-family: Helvetica;
	text-align: center;
	height: auto;
	width: auto;
}

table {
	background-color: #84CA84;
	margin-left: auto;
	margin-right: auto;
}

th#school {
	text-align: center;
}

a#logout {
	float: right;
}

a#goback {
	float: left;
}